@import 'config';
@import 'utilities';
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}
// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  ul {
    display: flex;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    border-bottom: 3px solid transparent;
    padding-bottom: .5rem;
    transition: border-color .5s;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      border-color: $medium-color;
    }
    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  &-home {
    height: 100vh;
    background: $bg-image no-repeat center right/cover;
    color: #fff;
    .header-content {
      padding-top: 20%;
      text-align: center;
      h1 {
        line-height: 1.2;
        font-size: 4rem;
      }
    }
  }
  &-inner {

  }
}